---
# tasks file for inmotion.ultrastack

#
# NGINX
#

- name: (UltraStack) Include Nginx role
  include_role:
    name: inmotionhosting.nginx_proxy

- name: (UltraStack) Configure site-specific NGINX proxy
  template:
    src: etc/nginx/conf.d/site.conf.j2
    dest: /etc/nginx/conf.d/{{ site_domain }}.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - restart nginx

#
# Redis
#

# Redis will be disabled if the host's total memory is <= 1GB
- name: (UltraStack) Check Memory for Redis inclusion
  set_fact:
    use_redis: false
  when:
    - use_redis is defined
    - use_redis
    - ansible_memtotal_mb <= 1024

- name: (UltraStack) Include Redis role
  include_role:
    name: inmotionhosting.redis
  when:
    - use_redis is defined
    - use_redis

#
# Plugins
#

# Confirming if W3TC is already configured to use Redis caching
# needs to be able to detect if this is going over a wordpress install
- name: (WordPress) Get W3TC settings
  command: >-
    wp w3-total-cache option get dbcache.engine
  args:
    chdir: "{{ wp_system_path }}"
  become: true
  become_user: "{{ system_user }}"
  register: dbcache
  changed_when: dbcache.stdout != "redis"
  when:
    - wp_plugins is defined
    - wp_plugins | length > 0
    - ("w3-total-cache" in wp_plugins)
    - use_redis is defined
    - use_redis

- name: (WordPress) Configure W3TC for Redis
  command: >-
    wp w3-total-cache option set
    {{ item.setting }} {{ item.value }} --type={{ item.type }}
  args:
    chdir: "{{ wp_system_path }}"
  become: true
  become_user: "{{ system_user }}"
  when:
    - dbcache.changed
  with_items: "{{ ultrastack_w3tc_settings }}"
