---
#
# Setup
#

- name: (UltraStack) Include variables and set facts
  include: facts.yml

- name: (UltraStack) Include UltraStack vars
  include_vars: "ultrastack.yml"

#
# NGINX
#

- name: (UltraStack) Include nginx-proxy role
  include_role:
    name: inmotionhosting.nginx_proxy

- name: (UltraStack) Configure site-specific NGINX proxy
  template:
    src: etc/nginx/conf.d/site.conf.j2
    dest: /etc/nginx/conf.d/{{ site_domain }}.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - restart nginx

#
# Redis
#

- name: (UltraStack) Include Redis role
  include_role:
    name: inmotionhosting.redis
  when:
    - use_redis is defined
    - use_redis

#
# Plugins
#

# Confirming if W3TC is already configured to use Redis caching
- name: (WordPress) Get W3TC settings
  command: >-
    wp w3-total-cache option get dbcache.engine
  args:
    chdir: "{{ wp_system_path }}"
  become: true
  become_user: wordpress
  register: dbcache
  changed_when: dbcache.stdout != "redis"
  when:
    - wp_plugins is defined
    - wp_plugins | length > 0
    - ("w3-total-cache" in wp_plugins)
    - use_redis is defined
    - use_redis

- name: (UltraStack) Configure W3TC for Redis
  command: >-
    wp w3-total-cache option set
    {{ item.setting }} {{ item.value }} --type={{ item.type }}
  args:
    chdir: "{{ wp_system_path }}"
  become: true
  become_user: "{{ system_user }}"
  when:
    - dbcache.changed
  with_items: "{{ wp_w3tc_settings }}"
